.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  bottom: -0.5rem;
  padding: 0%;
  border-top: var(--bs-secondary) solid 1px;
  color: var(--bs-secondary);
}

.ymaps-2-1-79-map {
  color: var(--bs-body-color) !important;
}

.carousel-caption__title {
  font-weight: bold;
}
